@font-face {
    font-family: "Playfair Display";
    src: local(Playfair Display),
         local(Playfair-Display),
         url(../fonts/PlayfairDisplay-Regular.otf);
}

@font-face {
    font-family: "Playfair Display";
    src: local(Playfair Display Bold),
         local(Playfair-Display-Bold),
         url(../fonts/PlayfairDisplay-Bold.otf);    
    font-weight: bold;
}

@font-face {
    font-family: "Playfair Display";
    src: local(Playfair Display Italic),
         local(Playfair-Display-Italic),
         url(../fonts/PlayfairDisplay-Italic.otf);    
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: local(Playfair Display Bold Italic),
         local(Playfair-Display-Bold-Italic),
         url(../fonts/PlayfairDisplay-BoldItalic.otf);    
    font-weight: bold;
    font-style: italic;
}